nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content:space-between;
  padding: 10px;
  align-items: center;
}
nav ul{
  display: flex;
  gap: 7px;
}
.nav-main--logo{
  display: flex;
  gap: 5px;
  align-items: center;
}
.main-logo{
  background-image: url(../../assets/react.svg);
  display: inline-block;
  width: 40px;
  background-size: contain;
  height: 40px;
  animation: spinAndBrightness 10s infinite linear;
}

@keyframes spinAndBrightness {
  0%{
    transform: rotate(0deg);
    filter: brightness(.7);
  }
  50%{
    filter: brightness(1.50);

  }
  100%{
    transform: rotate(360deg);
    filter: brightness(.7);

  }
}