*,
*::after,
*::before{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  width: 100%;
  height: auto;
}